html {
    scroll-behavior: smooth;
}
body {
    background: #1C1C1C;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0 15px 0;
    z-index: 10;
}

.header-right {
    display: flex;
    gap: 2vw;
}

header > a > img {
    height: 5vh;
}

header > * > a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
	position: relative;
}
header > * > a:hover::before{
	transform-origin: left;
	transform: scaleX(1);
}
header>*>a::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 4px;
	background-color: #fff;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
}

h1, h2 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 48px;
}

@media (max-width: 750px) {
    #background-video {
        display: none;
    }

    body {
        background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
        background-size: cover;
    }
}
main{
    background-color: #eeeec9;
}
.home {
    margin-top: 90vh;
    position: relative;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 5vw 2vh 5vw;
    background-image: url("../img/footer_background.png");
    color: #fff;
}

a {
    text-decoration: none;
}

.footer-right {
    display: flex;
    gap: 1.5vw;
}

.footer-right > a {
    color: #ffffff;
}

.footer-left {
    text-align: center;
    font-size: 18px;
}

.wave {
    background-color: #ffae00;
    height: 10vh;
    position: relative;
    clip-path: polygon(0% 0%, 25% 33%, 50% 0%, 75% 33%, 100% 0%, 100% 67%, 75% 100%, 50% 67%, 25% 100%, 0% 67%, 0% 0%);
}

.feedback-block {
    display: flex;
    justify-content: space-evenly;
}

.feedback {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    font-size: 16px;
}

.feedback > hr {
    height: 1px;
    border: 0;
    background: black;
}

.pp {
    clip-path: circle(50% at 50% 50%);
}

h3 {
    display: flex;
    justify-content: center;
}

section {
    margin: 5vh 0 8vh 0;
}

.partners-display {
    display: grid;
    grid-template: auto / auto auto auto auto;
    grid-gap: 5vh 10vw;
    padding: 10px;
}

.partners-display > img {
    max-width: 15vw;
    max-height: 15vh;
    opacity: 0.5;
    transition-duration: 0.5s;
    place-self: center;
}

.partners-display > img:hover {
    opacity: 1;
}

.parteners-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    color: white;
}


.carousel {
    position: relative;
    width: 100%;
    min-height: 30vh;
    overflow: hidden;
}

.carousel-item {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 30vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    display: flex;
    opacity: 1;
}

.img-carrousel {
    width: auto;
    max-height: 25vh;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-left: 30vw;
    margin-top: 10px;
}

.carousel-navigation button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.escape-carrousel {
    max-width: 35vw;
    display: flex;
    flex-direction: column;
}

.info-escape-carrousel {
    display: flex;
    gap: 8vw;
    margin-bottom: 2vh;
}

.spec-info-escape-carrousel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    background-color: #ffae00;
    padding: 5px 15px;
    border-radius: 20px;
    width: fit-content;
    text-decoration: none;
    color: #fff;
}

.offers-img {
	margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent {
    opacity: 0.3;
    height: 20vh;
    width: auto;
}

.front-img {
    height: 30vh;
    width: auto;
    z-index: 2;
}

.global-offer {
    display: flex;
	gap: 2vh;
    flex-direction: column;
    align-items: center;
}

.show-escape{
    display: flex;
    gap: 8vw;
    flex-wrap: wrap;
    justify-content: center;
}

.escape-individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    justify-items: center;
    grid-auto-flow: column;
}
.escape-individual>img{
    width: 20vw;
    opacity: 40%;
    transition-duration: 0.6s;
}
.escape-individual:hover img{
    opacity: 100%;
}
.escape-individual>h3{
    color: #ffae00;
}
.selec img{
    opacity: 100%;
}
.mask{
    display: none;
}
.show{
    display: block;
}
.escape-precise{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 80vw;
    gap: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.flex-spec{
    display: flex;
    gap: 2vw;
    margin-bottom: 2vh;
}

#map{
    height: 25vh;
    width: 25vw;
    margin-bottom: 3vh;
}

.contact-view{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.title-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-contact>h2{
    color: #ffae00;
}

.faq-view{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.faq-more{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sts-giftcard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sts-giftcard>img{
    max-width: 50vw;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=submit]{
    background-color: #ffae00;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 50px;
}

.text-offer{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.view-offer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.carousel-navigation>button{
    background-color: #eeeec9;
}

form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #BBBBBB;
    width: 50%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px #BBBBBB;
}

select option:first-child {
    display: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}