body {
	background: #1C1C1C;
	color: #424242;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
}
header{
	display: flex;
	position: sticky;
	top: 0;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0.5);
	padding: 15px 0 15px 0;
	z-index: 1;
}
.header-right{
	display: flex;
	gap: 2vw;
}
header>a>img{
	height: 5vh;
}
header>*>a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
#background-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	filter: blur(5px);
}

/* page content */

body {
	font-family: Trebuchet MS;
	margin: 0;
	padding: 0;
}

h1, h2 {
	color: white;
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 6rem;
	margin-top: 30vh;
}

h2 { font-size: 3rem; }

@media (max-width: 750px) {
	#background-video { display: none; }
	body {
		background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
		background-size: cover;
	}
}

main {
	background-color: lightblue;
	font-size: 2rem;
	margin-top: 90vh;
	position: relative;
}
footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5vh 5vw 2vh 5vw;
	background-image: url("../img/footer_background.png");
	color: #fff;
}
a{
	text-decoration: none;
}
.footer-right{
	display: flex;
	gap: 1.5vw;
}
.footer-right>a{
	color: #ffffff;
}
.footer-left{
	text-align: center;
	font-size: 18px;
}
.wave{
	background-color: #ffae00;
	height: 10vh;
	position: relative;
	clip-path: polygon(0% 0%, 25% 33%, 50% 0%, 75% 33%, 100% 0%, 100% 67%, 75% 100%, 50% 67%,25% 100%, 0% 67%, 0% 0%);
}