{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <h1 style="color: #ffae00">Offers</h1>
        <div class="wave" style="top: 5vh"></div>
    </main>
{% endblock %}
