{% extends 'base.html.twig' %}

{% block title %}Kaiserstuhl Escape{% endblock %}

{% block body %}
    <main>
        <h1 style="color: #ffae00">Gift Card</h1>
        <div class="sts-giftcard">
            <img src="/img/offer-card.jpg" alt="">

        </div>
        <div class="wave" style="top: 5vh"></div>
    </main>
{% endblock %}
