{% extends 'base.html.twig' %}
{% block title %}Kaiserstuhl Escape{% endblock %}

{% block body %}
    <main>
        <div class="contact-view">
            <h1 style="color: #ffae00">Contact</h1>
            <div class="title-contact">
                <h2>Write to us</h2>
                <a class="button" href="mailto:booking@we-escape.de">booking@we-escape.de</a>
            </div>
            <div class="title-contact">
                <h2>Or if you need to call us</h2>
                <a class="button" href=“tel:017666810096”>017666810096</a>
            </div>
            <div class="title-contact">
                <h2>Where we are</h2>
                <div id="map"></div>
            </div>
        </div>
    </main>
{% endblock %}