{% extends 'base.html.twig' %}
{% block title %}Kaiserstuhl Escape{% endblock %}

{% block body %}
    <main>
        <div class="contact-view">
            <h1 style="color: #ffae00">Contact</h1>
            <div class="title-contact">
                <h2>{{ 'write_to_us'|trans }}</h2>
                <a class="button" href="mailto:booking@we-escape.de">booking@we-escape.de</a>
            </div>
            <div class="title-contact">
                <h2>{{ 'or_if_you_need'|trans }}</h2>
                <a class="button" href=“tel:017666810096”>01766-68 10096</a>
            </div>
            <div class="title-contact">
                <h2>{{ 'where_we_are'|trans }}</h2>
                <div id="map"></div>
                {{ 'adress'|trans }}
            </div>
        </div>
        <div class="wave" style="top: 5vh"></div>
    </main>
{% endblock %}