{% extends 'base.html.twig' %}

{% block title %}Kaiserstuhl Escape{% endblock %}

{% block body %}
    <main>
        <h1 style="color: #ffae00">Policy Terms and Conditions</h1>
        <div>{{ 'ptandconditions'|trans }}</div>
        <div class="wave" style="top: 5vh"></div>
    </main>
{% endblock %}