{% extends 'base.html.twig' %}

{% block title %}Kaiserstuhl Escape{% endblock %}

{% block body %}
<main>
    <h1 style="color: #ffae00">Imprint</h1>
    <div>{{ 'imprint'|trans }}</div>
    <div class="wave" style="top: 5vh"></div>
</main>
{% endblock %}
